[user]
	name = Simon Voordouw
	email = simonvoordouw@gmail.com
[core]
	autocrlf = input
	editor = /usr/bin/nvim
[push]
	default = current
[log]
	decorate = full
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f

[merge]
    tool = nfugitive
    # if not using a tool name with builtin support, must supply mergetool cmd
    # as below

[mergetool "nfugitive"]
    cmd = nvim -f -c "Gdiff" "$MERGED"
